name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build Builder Docker image
      run: docker build . --file Dockerfile --tag yoga-builder
    - name: Build Yoga inside Builder Image
      run: docker run -v "$PWD/dist:/dist" yoga-builder
    - name: List contents of Build
      run: ls -l ./dist/dist
